$shadow-color: #dddddd;
$app-background-color: #E0FFFF;
$font-color: black;
$details-color: #505050;
$error-color: #ff0000;
$app-white: #fff;
$app-black: black;
$app-color-blue: #66a8bd;
$app-color-darkblue: #00cad1;
$app-color-lightgrey: #e2e2e2;
$app-color-lightgrey1: #ebebeb;
$app-color-bordergrey: #e0e0e0;
$app-color-footergrey: #f7f7f7;
$font-color-brown: #484848;
$font-color-lightbrown: #3e3e3e;
$app-font: 14px;
$input-font: 16px;
$sub-app-font: 18px;
$header-font: 30px;
$sub-header-font: 26px;
$app-small-font: 12px;